.my-body {
    width: 80%;
    margin: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

.my-header {
    margin: .5em 0em;
    height: 7.5em;

    background-color: burlywood;
    text-align: center;
}

.my-header-toptitle {
    height: 100%;
}

.my-header-toptitle h1{
    margin: 0em;
    height: 50%;

    color: black;
    font-size: xx-large;
    font-weight: bold;
    align-content: center;
}

.my-header-toptitle p{
    margin: 0em;
    height: 50%;

    align-content: center;
}

.my-navbar {
    margin: .5em 0em;
    height: 3em;

    background-color: darkred;
}

.my-navbar ul {
    width: 75%;
    height: 100%;

    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my-navbar ul li {
    font-size: larger;
    font-weight: bold;
    list-style: none;
}

.my-navbar ul li a {
    text-decoration: none;
    color: black;
}

.my-navbar ul li a:hover {
    text-decoration: underline;
}

#a-propros-title, 
#technos-title, 
#formations-title, 
#veille-techno-title {
    text-decoration: underline;
}

.technos-langages-img , 
.technos-framework-img,
.technos-ide-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.technos-langages-img img, 
.technos-framework-img img,
.technos-ide-img img {
    width: 8em;
    height: 8em;
}

.img-html {
    grid-column: 1;
    grid-row: 1;
}

.img-css {
    grid-column: 2;
    grid-row: 1;
}

.img-php {
    grid-column: 3;
    grid-row: 1;
}

.img-java {
    grid-column: 4;
    grid-row: 1;
}

.img-javascript {
    grid-column: 2;
    grid-row: 2;
}

.img-typescript {
    grid-column: 3;
    grid-row: 2;
}

.img-angular {
    grid-column: 2;
    grid-row: 1;;
}

.img-springboot {
    grid-column: 3;
    grid-row: 1;
}

.img-vscode {
    grid-column: 2;
    grid-row: 1;;
}

.img-eclipse {
    grid-column: 3;
    grid-row: 1;
}